
body{
background-color: lightblue;

	}
	.main{
	background-color: lightblue;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20% ;
	grid-column-gap:  30px;
	grid-row-gap: 50px; 
	
}

h1{
	color: darkblue;
}

h2{
	font-size: 18px;

}	



p{
	text-align: center;
	font-family: verdana;
	font-size: 14px;
}
header{
	 grid-column: 5 span;
	 text-align: center;
	 border:5px solid black;
	 height:200px;
	 width :99%;
	 align-items: center;
		

}

.bio{
	border: 5px solid black;
     align-items: center;
     display:flex;
	 align-items:center;
	 display:inline-block;
	 margin: 20px 15px auto;
	 width :400px;
	 height:150px:
	}
	
	
.boxBio{
	grid-column: 3/5;
	width: 500px;
	display: inline-block;

	
		
		
	}

	
.boxcont{

	border:5px solid black ;

	width:300px;
	grid-column: 2/3;
	position:relative;
	right: 120px;
	
}
.profile{

	width:200px;
	height:200px;
	position: relative;
	left: 30px;
	top :25px;
	border-radius: 50%;
}
.images{
	display:inline;
	position: relative;
	left: 15px;
	width :30px;
	height:30px;
}
.label{

	position:relative;
	left:50px;
	bottom:40px;


}
	
.subhead{
	text-align: center;
	color: darkblue;
}

.fc{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 20px;
	
}
